<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">

    <application>
        <service
            android:name="br.com.financas.integration.appfunctions.FinanceAppFunctionService"
            android:exported="true"
            android:permission="android.permission.BIND_APP_FUNCTION_SERVICE"
            tools:targetApi="36">
            <intent-filter>
                <action android:name="android.app.appfunctions.AppFunctionService" />
            </intent-filter>
            <property
                android:name="android.app.appfunctions.schema"
                android:value="app_functions_schema.xsd" />
            <property
                android:name="android.app.appfunctions.v2"
                android:value="finance_app_function_service.xml" />
        </service>
    </application>

</manifest>
